.members-container-parent{
  display: flex;
  flex-wrap: wrap;
}
.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 75%;
    justify-content: flex-start;
  }
  
  .member-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .member-name {
    font-size: 16px;
    font-weight: bold;
  }
  